@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Quicksand:wght@500&family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.menu {
  width: 300px;
  height: 100vh;
  left: -300px;
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0ece4;
  transition: all 0.7s ease;
  z-index: 1;
}
.menu.active {
  left: 0px;
}
.nav .menu .menu-link .link {
  display: block;
  padding: 20px 30px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: #ff4b5c;
  transition: all 0.5s;
}
.nav .menu .menu-link .link:hover {
  background-color: #056674;
}
.menu-icon {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease;
  z-index: 1;
}
.menu-icon.active {
  transform: rotate(180deg);
}
.line {
  width: 50px;
  height: 6px;
  border-radius: 6px;
  margin: 10px;
  background-color: #ff4b5c;
  transition: all 0.4s ease;
}
.active .line:nth-child(1) {
  transform: rotate(45deg) translate3d(10px, 10px, 0);
  background-color: #ff4b5c;
}
.active .line:nth-child(2) {
  opacity: 0;
}
.active .line:nth-child(3) {
  transform: rotate(-45deg) translate3d(10px, -10px, 0);
}
.sec-1 {
  background: url(../img/fondo.jpg) no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*Menu terminado*/
.sec-1 .content {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.sec-1 .content h1 {
  font-size: 4em;
  font-family: "Cabin", sans-serif;
  color: white;
  letter-spacing: 3px;
  font-weight: 900;
}
.sec-1 .content h1 span {
  color: #ff4b5c;
}
.sec-1 .content p {
  font-size: 1.4em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.social-content{ 
  width:90%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.social-content ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.social-content ul li{
  margin: 30px;
}
html body section#sec-1.sec-1 div.content div.social-content ul li a i:nth-last-child(1){
  font-size: 2.5em;
  color: #e0ece4;
  transition: all 0.2s;
}
html body section#sec-1.sec-1 div.content div.social-content ul li a i:nth-last-child(1):hover{
  color: #056674;
}
.sec-1 .content button {
  margin-top: 20%;
  padding: 10px;
  width: 170px;
  background: none;
  font-family: "Quicksand", sans-serif;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #ff4b5c;
  outline: none;
  font-weight: 800;
  transition: all 0.1s;
}
.sec-1 .content button:nth-last-child(1) {
  margin-left: 60px;
}
.sec-1 .content button:hover {
  transform: scale(1.1);
  background-color: #056674;
}
.sec-1 .content i {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}
.btn-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .sec-1 .content h1{
    font-size: 2em;
  }
  .sec-1 .content p{
    font-size: 1em;
  }
  html body section#sec-1.sec-1 div.content div.social-content ul li a i:nth-last-child(1){
    font-size: 1.5em;
    color: #e0ece4;
    transition: all 0.2s;
  }
  .social-content ul li{
    margin: 10px;
  }
  .sec-1 .content .btn-content{
    flex-direction: column;
  }
  .sec-1 .content button:nth-last-child(1) {
    margin-left: 0px;
  }
  .sec-1 .content button{
    margin-top: 10%;
    width: 80%;
  }
  .line {
    width: 40px;
    height: 4px;
  }
}
/*****************************************************++*/

.about{
  padding: 100px 0;
  background-color: #f1f1f1;
}
.inner-width{
  max-width: 800px;
}
#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.about-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}
.section-title{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Cabin', sans-serif;
  font-size: 2.5em;
  padding-bottom: 20px;
}
.about-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 80px;
}

.about-text{
  flex: 1;
}

.about-text h3{
  margin: 10px 0;
  color: #000000;
  font-size: 16px;
  font-family: sans-serif;
}

.about-text h3 span:nth-child(1):after
{
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}
.about-text h2{
  color: #056674;
  font-family: 'Cabin', sans-serif;
}
.about-text p{
  font-size: 1.4em;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.skills{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill{
  width: calc(50% - 20px);
  margin: 15px 0;
}

.skill-info{
  display: flex;
  justify-content: space-between;
}
.skill-info span{
  font-family: 'Quicksand', sans-serif;
}
.skill-bar{
  height: 3px;
  background-color: #ddd;
  margin-top: 14px;
  position: relative;
}

.skill-bar::after{
  content: "";
  position: absolute;
  height: 7px;
  background-color: #ce1818;
  bottom: 0;
  z-index: -1;
}

.html:after{
  width: 90%;
}

.css:after{
  width: 80%;
}

.js:after{
  width: 70%;
}

.php:after{
  width: 60%;
}

.mysql:after{
  width: 90%;
}

.cs:after{
  width: 80%;
}

section.dark{
  background-color: #056674;
}

section.dark .section-title{
  color: #ebebeb; /*********/
}

.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service{
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid #48dbfb;
  border-radius: 6px;
  margin: 20px 0;
  padding: 40px 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: .3s linear;
}

.service .icon{
  color: #48dbfb;
  font-size: 40px;
  margin-bottom: 20px;
  transition: .3s linear;
}

.service h4{
  font-size: 16px;
  margin-bottom: 6px;
}

.service:hover{
  background-color: #283838;
}

.service:hover .icon{
  color: #fff;
}

@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }

  .about-pic{
    margin: 0 auto 60px;
  }

  .about-text{
    flex: 100%;
    text-align: center;
  }

  .service{
    width: calc(50% - 20px);
  }
  .about-text p{
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px){
  .inner-width{
    padding: 0 20px;
  }

  .skill{
    width: 100%;
  }

  .service{
    width: 100%;
  }
}